<a href="https://colab.research.google.com/github/Mehpara/Datasets/blob/main/DS1_gradient_boosting_classifier_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **#GradientBoostingClassifier** with dataset 1 *

In [1]:
!pip install scikit-learn
!pip install numpy
!pip install Pandas
!pip install scikit-multilearn
!pip install simplekml
!pip install matplotlib-venn
!pip install --upgrade scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from Pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from Pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->Pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-multilearn
  Downloading scikit_multilearn-0.2.0-py3-none-any.whl (89 kB)
     |████████████████████████████████| 89 kB 3.4 MB/s
Installing collected packages: scikit-multilearn
Successfully installed scikit-multilearn-0.2.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting simplekml
  Downloading simplekml-1.3.6.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 1.2 MB/s
Building wheels for collected packages: simplekml
  Building wheel for simplekml (setup.py) ... done
  Created wheel for simplekml: filename=simplekml-1.3.6-py3-none-any.whl size=65876 sha256=c74c8067acf4a3197e9525829455480d6eb1cbd4c40d6aa197e4c4442de18a05
  Stored in directory: /root/.cache/pip/wheels/5c/ec/e6/10af1a1fb29ffca95151d4c886d6e06fc309c68f46519892de
Successfully built simplekml
Installing collected packages: simplekml
Successfully installed simplekml-1.3.6
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (0.11.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (1.7.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->matplotlib-venn) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->matplotlib-venn) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)

In [2]:
import pandas as pd
import numpy as np
import simplekml
import pandas

In [3]:
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.feature_extraction.text import TfidfVectorizer

#Required for Alll  Multilabel classifier 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection

#testing code classifier 
from sklearn.linear_model import SGDClassifier
from sklearn.svm import LinearSVC
from sklearn.multiclass import OneVsRestClassifier

#Main Libray Import File for BinaryRelevance, Label Powerset,
#classifierchain Classifier

from skmultilearn.problem_transform import BinaryRelevance
from skmultilearn.problem_transform import LabelPowerset
from skmultilearn.problem_transform import ClassifierChain
from sklearn.ensemble import GradientBoostingClassifier
from skmultilearn.adapt import MLkNN

In [4]:
#Main Libraries To Import for Hamming loss ,Accuracy ,F1 measure ,Precision ,Recall
from sklearn.metrics import hamming_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [ ]:
#Graph plot code

In [5]:
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_openml
from sklearn.metrics import jaccard_score
from sklearn.multioutput import ClassifierChain

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/stackoverflow.csv')
df.head()

,Unnamed: 0,Text,Tags
0,2,aspnet site maps has anyone got experience cre...,"['sql', 'asp.net']"
1,4,adding scripting functionality to net applicat...,"['c#', '.net']"
2,5,should i use nested classes in this case i am ...,['c++']
3,6,homegrown consumption of web services i have b...,['.net']
4,8,automatically update version number i would li...,['c#']

In [7]:
(df['Tags'].iloc[0])

"['sql', 'asp.net']"

In [8]:
import ast
ast.literal_eval(df['Tags'].iloc[0])

['sql', 'asp.net']

In [9]:
#change string data into List

In [ ]:
df['Tags']=df['Tags'].apply(lambda x: ast.literal_eval(x))

In [10]:
df.head()

,Unnamed: 0,Text,Tags
0,2,aspnet site maps has anyone got experience cre...,"['sql', 'asp.net']"
1,4,adding scripting functionality to net applicat...,"['c#', '.net']"
2,5,should i use nested classes in this case i am ...,['c++']
3,6,homegrown consumption of web services i have b...,['.net']
4,8,automatically update version number i would li...,['c#']

In [11]:
y=df['Tags']
y

0        ['sql', 'asp.net']
1            ['c#', '.net']
2                   ['c++']
3                  ['.net']
4                    ['c#']
                ...
48971               ['c++']
48972               ['c++']
48973            ['python']
48974            ['python']
48975               ['c++']
Name: Tags, Length: 48976, dtype: object

In [12]:
multilabel=MultiLabelBinarizer()
y=multilabel.fit_transform(df['Tags'])
y

array([[1, 0, 1, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0]])

In [13]:
multilabel.classes_

array([' ', '#', "'", '+', ',', '-', '.', '[', ']', 'a', 'b', 'c', 'd',
       'e', 'h', 'i', 'j', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
       'u', 'v', 'y'], dtype=object)

In [14]:
pd.DataFrame(y, columns=multilabel.classes_)

          #  '  +  ,  -  .  [  ]  a  ...  n  o  p  q  r  s  t  u  v  y
0      1  0  1  0  1  0  1  1  1  1  ...  1  0  1  1  0  1  1  0  0  0
1      1  1  1  0  1  0  1  1  1  0  ...  1  0  0  0  0  0  1  0  0  0
2      0  0  1  1  0  0  0  1  1  0  ...  0  0  0  0  0  0  0  0  0  0
3      0  0  1  0  0  0  1  1  1  0  ...  1  0  0  0  0  0  1  0  0  0
4      0  1  1  0  0  0  0  1  1  0  ...  0  0  0  0  0  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
48971  0  0  1  1  0  0  0  1  1  0  ...  0  0  0  0  0  0  0  0  0  0
48972  0  0  1  1  0  0  0  1  1  0  ...  0  0  0  0  0  0  0  0  0  0
48973  0  0  1  0  0  0  0  1  1  0  ...  1  1  1  0  0  0  1  0  0  1
48974  0  0  1  0  0  0  0  1  1  0  ...  1  1  1  0  0  0  1  0  0  1
48975  0  0  1  1  0  0  0  1  1  0  ...  0  0  0  0  0  0  0  0  0  0

[48976 rows x 29 columns]

In [15]:
#TFID vectorizer
tfidf=TfidfVectorizer(analyzer='word', max_features=10000, ngram_range=(1,2),stop_words='english')
X=tfidf.fit_transform(df['Text'])
X

<48976x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 1996262 stored elements in Compressed Sparse Row format>

In [16]:
#tfidf.vocabulary_
#Tokenization
X.shape, y.shape

((48976, 10000), (48976, 29))

In [17]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
#BUILD MODEL
#GradientBoostingClassifier

In [19]:
from sklearn.datasets import make_hastie_10_2
X, y = make_hastie_10_2(random_state=0)
X_train, X_test = X[:2000], X[2000:]
y_train, y_test = y[:2000], y[2000:]
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.913

In [20]:

clf.fit(X_train, y_train)
y_pred =clf.predict(X_test)


print("hamming loss: ")
print(hamming_loss(y_test, y_pred))

print("accuracy:")
print(accuracy_score(y_test, y_pred))

print("f1 score:")
print("micro")
print(f1_score(y_test, y_pred, average='micro'))
print("macro")
print(f1_score(y_test, y_pred, average='macro'))

print("precision:")
print("micro")
print(precision_score(y_test, y_pred, average='micro'))
print("macro")
print(precision_score(y_test, y_pred, average='macro'))

print("recall:")
print("micro")
print(recall_score(y_test, y_pred, average='micro'))
print("macro")
print(recall_score(y_test, y_pred, average='macro'))

hamming loss:
0.087
accuracy:
0.913
f1 score:
micro
0.9130000000000001
macro
0.9129705353044326
precision:
micro
0.913
macro
0.9131689001281935
recall:
micro
0.913
macro
0.912907355622434