<a href="https://colab.research.google.com/github/Mehpara/Datasets/blob/main/Multilabel_Text_Classification_Fuuast_gradient_boosting_classifier_DS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import make_hastie_10_2
X, y = make_hastie_10_2(random_state=0)
X_train, X_test = X[:2000], X[2000:]
y_train, y_test = y[:2000], y[2000:]
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.913

In [ ]:
!pip install scikit-learn
!pip install numpy
!pip install Pandas
!pip install scikit-multilearn
!pip install simplekml
!pip install matplotlib-venn
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)
Requirement already satisfied: Pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from Pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from Pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->Pandas) (1.15.0)
Requirement already satisfied: scikit-multilearn in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: simplekml in /usr/local/lib/python3.7/dist-packages (1.3.6)
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (0.11.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (1.21.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (3.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->matplotlib-venn) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)

In [ ]:
import pandas as pd
import numpy as np
import simplekml
import pandas

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.feature_extraction.text import TfidfVectorizer

#Required for Alll  Multilabel classifier 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection

#testing code classifier 
from sklearn.linear_model import SGDClassifier
from sklearn.svm import LinearSVC
from sklearn.multiclass import OneVsRestClassifier

#Main Libray Import File for BinaryRelevance, Label Powerset,
#classifierchain Classifier

from skmultilearn.problem_transform import BinaryRelevance
from skmultilearn.problem_transform import LabelPowerset
from skmultilearn.problem_transform import ClassifierChain
from sklearn.ensemble import GradientBoostingClassifier
from skmultilearn.adapt import MLkNN

In [ ]:
#Main Libraries To Import for Hamming loss ,Accuracy ,F1 measure ,Precision ,Recall

In [ ]:
from sklearn.metrics import hamming_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [ ]:
#Graph plot code

In [ ]:
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_openml
from sklearn.metrics import jaccard_score
from sklearn.multioutput import ClassifierChain

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/stackoverflow.csv')
df.head()

   Unnamed: 0  ...                Tags
0           2  ...  ['sql', 'asp.net']
1           4  ...      ['c#', '.net']
2           5  ...             ['c++']
3           6  ...            ['.net']
4           8  ...              ['c#']

[5 rows x 3 columns]

In [ ]:
(df['Tags'].iloc[0])

"['sql', 'asp.net']"

In [ ]:
import ast
ast.literal_eval(df['Tags'].iloc[0])

['sql', 'asp.net']

In [ ]:
#change string data into List

In [ ]:
df['Tags']=df['Tags'].apply(lambda x: ast.literal_eval(x))

In [ ]:
df.head()

   Unnamed: 0  ...            Tags
0           2  ...  [sql, asp.net]
1           4  ...      [c#, .net]
2           5  ...           [c++]
3           6  ...          [.net]
4           8  ...            [c#]

[5 rows x 3 columns]

In [ ]:
y=df['Tags']
y

0        [sql, asp.net]
1            [c#, .net]
2                 [c++]
3                [.net]
4                  [c#]
              ...
48971             [c++]
48972             [c++]
48973          [python]
48974          [python]
48975             [c++]
Name: Tags, Length: 48976, dtype: object

In [ ]:
multilabel=MultiLabelBinarizer()
y=multilabel.fit_transform(df['Tags'])
y

array([[0, 0, 1, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
multilabel.classes_

array(['.net', 'android', 'asp.net', 'c', 'c#', 'c++', 'css', 'html',
       'ios', 'iphone', 'java', 'javascript', 'jquery', 'mysql',
       'objective-c', 'php', 'python', 'ruby', 'ruby-on-rails', 'sql'],
      dtype=object)

In [ ]:
pd.DataFrame(y, columns=multilabel.classes_)

       .net  android  asp.net  c  c#  ...  php  python  ruby  ruby-on-rails  sql
0         0        0        1  0   0  ...    0       0     0              0    1
1         1        0        0  0   1  ...    0       0     0              0    0
2         0        0        0  0   0  ...    0       0     0              0    0
3         1        0        0  0   0  ...    0       0     0              0    0
4         0        0        0  0   1  ...    0       0     0              0    0
...     ...      ...      ... ..  ..  ...  ...     ...   ...            ...  ...
48971     0        0        0  0   0  ...    0       0     0              0    0
48972     0        0        0  0   0  ...    0       0     0              0    0
48973     0        0        0  0   0  ...    0       1     0              0    0
48974     0        0        0  0   0  ...    0       1     0              0    0
48975     0        0        0  0   0  ...    0       0     0              0    0

[48976 rows x 20 columns]

In [ ]:
#TFID vectorizer
tfidf=TfidfVectorizer(analyzer='word', max_features=10000, ngram_range=(1,2),stop_words='english')
X=tfidf.fit_transform(df['Text'])
X

<48976x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 1996262 stored elements in Compressed Sparse Row format>

In [ ]:
#tfidf.vocabulary_
#Tokenization
X.shape, y.shape

((48976, 10000), (48976, 20))

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
#BUILD MODEL

sgd=SGDClassifier()
lr=LogisticRegression(solver='lbfgs')
svc=LinearSVC()

In [ ]:
def j_score(y_true,y_pred): 
  jaccard = np.minimum(y_true, y_pred).sum(axis=1)/np.maximum(y_true, y_pred).sum(axis=1)
  return jaccard.mean()*100

In [ ]:

def print_score(y_pred, clf):
  print("clf:", clf.__class__.__name__)
  print('jaccard score: {}'.format(j_score(y_test, y_pred)))
  print('...................................')

In [ ]:
for classifier in [lr,svc,sgd]:
  clf=OneVsRestClassifier(classifier)
  clf.fit(X_train,y_train)
  y_pred=clf.predict(X_test)
  print_score(y_pred, classifier)

clf: LogisticRegression
jaccard score: 50.86072546617667
...................................
clf: LinearSVC
jaccard score: 62.510038110793516
...................................
clf: SGDClassifier
jaccard score: 52.64087382605145
...................................

In [ ]:
#GradientBoostingClassifier

In [ ]:
from sklearn.datasets import make_hastie_10_2
X, y = make_hastie_10_2(random_state=0)
X_train, X_test = X[:2000], X[2000:]
y_train, y_test = y[:2000], y[2000:]
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.913

In [ ]:
#Ensemble  Model  Implementation

In [ ]:

clf.fit(X_train, y_train)
y_pred =clf.predict(X_test)


print("hamming loss: ")
print(hamming_loss(y_test, y_pred))

print("accuracy:")
print(accuracy_score(y_test, y_pred))

print("f1 score:")
print("micro")
print(f1_score(y_test, y_pred, average='micro'))
print("macro")
print(f1_score(y_test, y_pred, average='macro'))

print("precision:")
print("micro")
print(precision_score(y_test, y_pred, average='micro'))
print("macro")
print(precision_score(y_test, y_pred, average='macro'))

print("recall:")
print("micro")
print(recall_score(y_test, y_pred, average='micro'))
print("macro")
print(recall_score(y_test, y_pred, average='macro'))

hamming loss:
0.087
accuracy:
0.913
f1 score:
micro
0.9130000000000001
macro
0.9129705353044326
precision:
micro
0.913
macro
0.9131689001281935
recall:
micro
0.913
macro
0.912907355622434

In [ ]:
#Graph plot code